################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/dotnet-project-template/bin
/dotnet-project-template/obj
/dotnet-project-template-test/bin
/dotnet-project-template-test/obj
